* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: center;
    padding-top: 1rem;
}

h3 {
    text-align: center;
}

.flex-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.deck {
    height: 300px;
    width: 180px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border-radius: .5rem;
    color: white;
    user-select: none;
}


.text {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    height: 300px;
    width: 180px;
    border: 1px solid black;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

.card.red {
    color: red;
}

.card.black {
    color: black;
}

.card::before,
.card::after {
    position: absolute;
    content: attr(data-value);
    font-size: 1rem;
}

.card::before {
    top: .5rem;
    left: .5rem
}

.card::after {
    bottom: .5rem;
    right: .5rem;
    transform: rotate(180deg);
}